<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Airline application</h1>
<form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
    <label for="From">From</label>
    <input id="from" name="from" required="required"/>
    <br/>
    <br/>
    <label to="to">To</label>
    <input id="to" name="to" required="required"/>
    <br/>
    <br/>
    <label numberOfPassengersBoarding="numberOfPassengersBoarding">Number of passengers</label>
    <input id="numberOfPassengersBoarding" name="numberOfPassengersBoarding" type="number" required="required"/>
    <br/>
    <br/>
    <label departureDate="departureDate">Departure date</label>
    <input id="departureDate" name="departureDate" placeholder="dd/mm/year" type="date" required="required"/>
    <br/>
    <br/>
    <label Cabin="ClassType">Class</label>
    <select name="classType" id="classType">
        <option value="ECONOMIC" >Economic</option>
        <option value="FIRST" >First</option>
        <option value="BUSINESS" >Business</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Search"/>
</form>
</body>

</html>